@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "./_variables";

@mixin flexCenter($justify_content, $align-items) {
  display: flex;
  justify-content: $justify_content;
  align-items: $align-items;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  
  width: 100%;
  // height: 100vh;
 
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  background-color: $backgroundBody;  
}

main {
  width: 720px;
  height: auto;
  background-color: $backgroundMain;  
}

/* section wrapper */
#wrapper {  
  background-color: white;
  padding: 1em;  
}

header {
@include flexCenter(space-between, center);
}

.logoSize {
  width: 5em;
  height: auto;  
}

.socialSize {
  width: 2em;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  list-style-type: none;
}
/* ----------------------- */ 

/* section hero */
#hero {
  display: flex;
  
  width: 100%;
  min-height: 350px;
  color: $colorFont;
  background-color: $backgroundHero;  

  .col1 {
    width: 60%;
    padding: 10px 0 0 10px;

    h2 {
      font-size: 2em;
    }

    p {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    .btnSaiba {
      text-decoration: none;
      color: $colorFont;
      border: solid 2px $colorFont;
      border-radius: 5px;
      padding: 0.5em;
      margin-top: 15px;
      cursor: pointer;
    }

    .btnSaiba:hover {
      border: solid 2px #000000;
    }

    .col2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
    }
  

  }


}

.montagemSize {
  width: 100%;
}
/* -------------------*/

/* section emailMarketing */
#emailMarketing {
  margin-top: 10px;
  margin-left: 10px;


  h2 {
    color: red;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    line-height: 25%;

  }

}

/* section portfolio */
.container {
  margin-top: 20px;
  margin-left: 10px;

  h2 {
    color: red;
    justify-content: center;
  }

  .portfolio {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }  
  
}

/* section rodape */
.rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 100px;

}
/* section rodape */