@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e7e9f0;
}

main {
  width: 720px;
  height: auto;
  background-color: #f6faff;
}

/* section wrapper */
#wrapper {
  background-color: white;
  padding: 1em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoSize {
  width: 5em;
  height: auto;
}

.socialSize {
  width: 2em;
  height: auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  list-style-type: none;
}

/* ----------------------- */
/* section hero */
#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 350px;
  color: #ffffff;
  background-color: #df0031;
}

#hero .col1 {
  width: 60%;
  padding: 10px 0 0 10px;
}

#hero .col1 h2 {
  font-size: 2em;
}

#hero .col1 p {
  margin-top: 15px;
  margin-bottom: 25px;
}

#hero .col1 .btnSaiba {
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 15px;
  cursor: pointer;
}

#hero .col1 .btnSaiba:hover {
  border: solid 2px #000000;
}

#hero .col1 .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
}

.montagemSize {
  width: 100%;
}

/* -------------------*/
/* section emailMarketing */
#emailMarketing {
  margin-top: 10px;
  margin-left: 10px;
}

#emailMarketing h2 {
  color: red;
  margin-bottom: 10px;
}

#emailMarketing p {
  margin-bottom: 10px;
  font-weight: bold;
}

#emailMarketing ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
  line-height: 25%;
}

/* section portfolio */
.container {
  margin-top: 20px;
  margin-left: 10px;
}

.container h2 {
  color: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* section rodape */
.rodape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: black;
  height: 100px;
}

/* section rodape */
/* media queries */
/*----------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  /* section hero */
  #hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 350px;
    color: #ffffff;
    background-color: #df0031;
  }
  #hero .col1 {
    width: 100%;
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
  }
  #hero .col1 h2 {
    font-size: 2em;
  }
  #hero .col1 p {
    padding: 0 10px 0 10px;
  }
  #hero .col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  /* section emailMarketing */
  #emailMarketing {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0 10px 0 10px;
  }
  #emailMarketing ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
    line-height: 100%;
  }
  /* section portfolio */
  .container .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */